<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DCA Result | <%= Student ? Student.name : "??" %></title>
    <style>


        /* Login Button Css */
        .login-button {
            display: inline-block;
            background-color: #007bff;
            color: white;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .login-button:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <% if (locals.Student) { %>
        <dl align="center">
            <dt><h1>ComputronicS</h1></dt>
            <dt><b>A Gateway to Computer World</b></dt>
            <dt><b>Serampore, Hooghly</b></dt>
            <dt><b>Association with ISO-9001-2015 Certified Institute</b></dt>
            <dt><b>(Govt. Reg.-1899)</b></dt>
        </dl>
        <p align="center">
        <table>
        <tr>
            <th colspan="2"><center><img src="../public/COMBINED-LOGO.png" height="80" width="240"></center></th>
            <th><center><h2>EVALUATION REPORT(**)</h2></center></th>
            <th><center><img src="<%= imageSrc %>" alt="Student Image" height="150" width="150"></center></th>
        </tr>
        </table>
        <p><b>This is to certify that : <%= s_info.name %> <br>
        Reg. No.                   :  <br>
        Roll No.                   :  <br>
        Father’s / Guardian’s Name : <%= s_info.fatherName %> </b><p>
        
        <p align="center">
        <table border="3">
        <tr>
            <th colspan="2">SUBJECTS(THEORETICAL)</th>
            <th>FULL MARKS</th>
            <th>MARKS OBTAINED</th>
            
        </tr>
        <tr>
            <td>IT-TOOLS AND CONCEPTS</td>
            <td><center>DCA-I-A</center></td>
            <td><center>100</center></td>
            <th><center></center></th>
        </tr>
        <tr>
            <td>WEB DESIGNING AND PUBLISHING</td>
            <td><center>DCA-I-B</center></td>
            <td><center>100</center></td>
            <th><center></center></th>
        </tr>
        <tr>
            <td>C- PROGRAMMING</td>
            <td><center>DCA-II-A</center></td>
            <td><center>100</center></td>
            <th><center></center></th>
        </tr>
        <tr>
            <td>DATA BASE MANAGEMENT SYSTEM </td>
            <td><center>DCA-II-B</center></td>
            <td><center>100</center></td>
            <th><center></center></th>
        </tr>
        <tr>
            <td>CSS , XML AND PHP </td>
            <td><center>DCA-II-C</center></td>
            <td><center>100</center></td>
            <th><center></center></th>
        </tr>
        <tr>
            <td>PROGRAMMING-PROBLEM SOLVING (PYTHON)</td>
            <td><center>DCA-III-B*</center></td>
            <td><center>100</center></td>
            <th><center></center></th>
        </tr>
        <tr>
            <td>CYBER SECURITY AND PROTECTION</td>
            <td><center>DCA-III-C</center></td>
            <td><center>100</center></td>
            <th><center></center></th>
        </tr>
        <tr>
            <td>APPLICATION OF .NET TECHNOLOGY</td>
            <td><center>DCA-IV-B*</center></td>
            <td><center>100</center></td>
            <th><center></center></th>
        </tr>
        <tr>
            <td colspan="2"><center><b>SESSIONAL SUBJECTS (PRACTICAL AND PROJECTS)</b></center></td>
            <td colspan="2"></td>
            
        </tr>
        <tr>
            <td>IT-TOOLS AND APPLICATIONS OPERATING SYSTEM</td>
            <td><center>DCAL-1A</center></td>
            <td><center>100</center></td>
            <th><center></center></th>
        </tr>
        <tr>
            <td>WEB DESIGNING AND PUBLISHING</td>
            <td><center>DCAL-1B</center></td>
            <td><center>100</center></td>
            <th><center></center></th>
        </tr>
        <tr>
            <td>PROGRAMMING  USING-C </td>
            <td><center>DCAL-2A</center></td>
            <td><center>100</center></td>
            <th><center></center></th>
        </tr>
        <tr>
            <td>DATA BASE MANAGEMENT SYSTEM  </td>
            <td><center>DCAL-2B</center></td>
            <td><center>100</center></td>
            <th><center></center></th>
        </tr>
        <tr>
            <td>HTML and PHP </td>
            <td><center>DCAL-2C</center></td>
            <td><center>100</center></td>
            <th><center></center></th>
        </tr>
        <tr>
            <td>PYTHON</td>
            <td><center>DCAL-3B*</center></td>
            <td><center>100</center></td>
            <th><center></center></th>
        </tr>
        <tr>
            <td>JAVA SCRIPT</td>
            <td><center>DCAL-4B*</center></td>
            <td><center>100</center></td>
            <th><center></center></th>
        </tr>
        <tr>
            <td colspan="2"><center>PROJECT (100+50X2)</center></td>
            <td><center>200</center></td>
            <td><center></center></td>
        </tr>
        <tr>
            <td colspan="2"><center>PRESENTATION<center></td>
            <td><center>100</center></td>
            <td><center></center></td>
        </tr>
        <tr>
            <td colspan="2"><center><b>TOTAL</b></center></td>
            <td><center><b>1800</b></center></td>
            <td><center></center></td>
        </tr>
        <tr>
            <td rowspan="2"><center><img src="../public/QR-Web-MS.png" height="100" width="100"></center></td>
            <td><center>CLASS</center></td>
            <td><center>Overall GRADE point Average</center></td>
            <td><center>Overall percentage of Marks</center></td>
        </tr>
        <tr>
            
            <td><center><b>FIRST</b></center></td>
            <td><center><b>8.0</b></center></td>
            <td><center><b>75.0</b></center></td>
        </tr>
        </table>
        <p align="center">
        <table>
        <tr>
            <th><center><img src="../public/self-rdv.png" height="50" width="100"></center></th>
        </tr>
        <tr>
            <th><center>Course coordinator and Branch In charge</center></th>
            <th><center></center></th>
            <th><right>Date of issue:</right></th>
        </tr>
        </table>
        <p><h4><center><font color="red">It’s a digitally generated tabulation sheet**</center></h4></p>
        
    <% } else { %>
        <a class="login-button" href="/">Login</a>
    <% } %>
</body>

</html>